.header {
    margin: 45px 0 0;
    max-height: 74px;
    min-height: 56px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 879px) {
    .header{
        max-height: 54px;
        margin: 28px 0 0;
    }
}