.profile__add-button {
    background-color: #000000;
    width: 150px;
    min-height: 50px;
    max-height: 50px;
    margin: 35px 0 0 244px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
}

.profile__add-button:hover{
    opacity: 0.6;
}

@media screen and (max-width: 879px) {
    .profile__add-button {
        margin: 36px auto;
        width: 90%;
    }
}