.elements {
    margin: 50px auto;
    gap: 17px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 880px;
    justify-content: center;
}

@media screen and (max-width: 879px) {
    .elements{
        margin: 36px auto;
    }
}