.card__button-like {
    cursor: pointer;
    background-image: url("../../../images/vector/card__like.svg");
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    width: 32px;
    padding: 0;
}

.card__button-like_active{
    margin-top: 7px;
    background-repeat: no-repeat;
    background-image: url(/images/vector/like__active.svg);
}

.card__button-like:hover {
    opacity: 0.6;
}