.popup_type_image__container{
    margin: 13% auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    .popup_type_image__container{
        margin: 35% auto;
    }
}