.form__input {
    border: 0;
    width: 358px;
    height: 27px;
    margin: 30px 34px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    border-bottom: 1px solid #000000;;
    opacity: 0.2;
}

@media screen and (max-width: 879px) {
    .form__input{
        max-width: 238px;
        margin: 30px 22px 0;
    }
}