/* normalize */
@import url(../vendor/normalize.css);
/* fonts */
@import url(../vendor/fonts.css);
/* page */
@import url(../blocks/page/page.css);
/* popup */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_active/popup_active.css);
/* popup-cards */
@import url(../blocks/popup-cards/popup-cards.css);
@import url(../blocks/popup-cards/_active/popup-cards_active.css);
/* form-cards */
@import url(../blocks/form-cards/form-cards.css);
@import url(../blocks/form-cards/__input/form-cards__input.css);
@import url(../blocks/form-cards/__button/form-cards__button.css);
/* popup-image */
@import url(../blocks/popup-image/popup-image.css);
@import url(../blocks/popup-image/_active/popup-image_active.css);
@import url(../blocks/popup-image/__open-image/popup-image__open-image.css);
@import url(../blocks/popup-image/__title/popup-image__title.css);
@import url(../blocks/popup-image/__container/popup-image__container.css);
/* wrapper */
@import url(../blocks/wrapper/wrapper.css);
/* form */
@import url(../blocks/form/form.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__button/form__button.css);
/* menu */
@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__title/menu__title.css);
@import url(../blocks/menu/__title-cards/menu__title-cards.css);
@import url(../blocks/menu/__options/menu__options.css);
@import url(../blocks/menu/__close-icon/menu__close-icon.css);
@import url(../blocks/popup-image/close-icon/popup-image__close-icon.css);
/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
/* profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__heading/profile__heading.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
/* elements */
@import url(../blocks/elements/elements.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__button-delete/card__button-delete.css);
@import url(../blocks/card/__button-like/card__button-like.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__description/card__description.css);
@import url(../blocks/card/__title/card__title.css);
/* footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

/* animate */
@import url(../blocks/animation-open/animation-open.css);
@import url(../blocks/animation-close/animation-close.css);