.popup-image__close-icon {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border: 0;
    background: transparent;
    background-image: url("../../../images/vector/Close_Icon.svg");
    align-self: flex-end;
    margin: 8px -40px;
}



.popup-image__close-icon:hover {
    opacity: 0.6;
}

@media screen and (max-width: 396px) {
    .popup-image__close-icon {
        margin: 0 0;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    }
}